body {
    background-color: #ffffff;
}


h1 {
    text-align: center;
    font-family: Georgia, serif;
}

.header {
    font-style: italic;
    font-weight: 400;
    color: #000;
}

.stuff_table {
    margin: 30px;
    font-family: Updock, serif;
    text-align: left;
    border: 1px solid white;
}

table {
    border-collapse:collapse;
}

thead {
    margin-bottom: 10px;
    margin-top: 10px;
    border-bottom: 10px solid #ededee;
}

.employee_inf {
    background-color: #ffffff;
}
.employee_inf1 {
    background-color: #ededee;
}

td, th {
    text-align: center;
    padding: 15px 100px;
}

.button {
    padding: 5px 10px;
    margin-left: 10px;
    background-color: #877aff;
    border: 1px solid #877aff;
    border-radius: 5em;
    color: white;
}

.done {
    background-color: rgba(255, 12, 12, 0.729);
    padding: 5px;
    border: 1px;
    border-radius: 5em;
}

.arrived {
    background-color: rgba(98, 255, 103, 0.729);
    padding: 5px;
    border: 1px;
    border-radius: 5em;
}

.search_employee {
    margin-left: 30px;
}

button::hover {
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid #c3c3c3;
  border-radius: 5px;
  background: #c3c3c3;
}

input[type=search] {
    padding: 5px 50px;
    border: 2px solid rgb(242, 242, 242);
    border-radius: 4px;
  }

