<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href='{% static "css/workers_table/homepage.css"%}?{% now "U" %}'>
</head>
<body>
    <div class="post-data">
        <h2 class="greeting">Здравствуйте,{{user}}</h2>
        <form class="fixed-hour" action="url" method="post">
            <label for="select-status" class="post-labels">
                Выберите статус
            </label>
            <select id="select-status">
                <option>Прибытие</option>
                <option selected>Убытие</option>
                <option>Отсутствие</option>
            </select>
            <label for="comment" class="post-labels">
                Комментарий
            </label>
            <textarea id="comment" placeholder="Введите комментарий" maxlength=100></textarea>
            <input id="submit_check" type="Submit" placeholder="Отправить" width="50px">
        </form>
        <a href="http://127.0.0.1:8000/list/" class="employees_list">Страница со сводной информацией о сотрудниках компании</a>
    </div>
</body>
</html>