<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>HTML5</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href='{% static "css/workers_table/indexcss.css"%}?{% now "U" %}'>
    <script>
      function get_hour(){
          element = document.getElementById("search_input")
          if (element != null) {
              str = element.value;
          }
          else {
              str = null;
          }
          console.log(str)
      }
    </script>
  </head>
  <body>
    <h1>Система учета</h1>
    <form class="search_employee">
      <input id="search_input" placeholder="Surname" type="search"/>
      <button class="button" type="Submit" onclick='get_hour()'>Submit</button>
    </form>
    <section class="stuff_table">
      <table>
        <caption><strong>Список сотрудников предприятия</strong></caption>
        <thead>
          <tr class="table_headers">
            <th class="header">Name Surname</th>
            <th class="header">Status</th>
            <th class="header">Arrival Time</th>
            <th class="header">Reason for late</th>
            <th class="header">Who marked</th>
          </tr>
        </thead>
        <tbody>
          {%for i in n%}
          <tr class="{%cycle 'employee_inf' 'employee_inf1'%}">
            <td>Name Surname {{i}}</td>
            <td><span class="{{status}}">Arrived</span></td>
            <td><span> 08:30 </span></td>
            <td>R</td>
            <td>{% cycle "A" "H" %}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </section>
</body>
</html>