<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>HTML5</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href='{% static "css/workers_table/employee.css"%}?{% now "U" %}'>
  </head>
  <body>
    <a href='{% url "logout"%}'> Выйти из аккаунта {{request.user}}</a>
    {% csrf_token %}
    <div class="card">
      <span class="info">{{employee.first_name}} {{employee.last_name}}</span>
      <span class="info">Электронная почта: {{employee.email}}</span>
      <span class="info">Телефон: {{employee.phone}} </span>
      <span class="info">Отдел: {{employee.department}}</span>
      <span class="info">Должность: {{employee.position}}</span>
    </div>
  </body>
</html>
