<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href='{% static "css/workers_table/homepage.css"%}?{% now "U" %}'>
</head>
<body>    
    <div class="links">
        <a href="{% url 'logout' %}" class="menu"> Выйти из аккаунта {{request.user}}</a>
        <a href="{% url 'list' %}" class="menu">Таблица сотрудников</a>
      </div>
    <div class="post-data">
        <h2 class="greeting">Здравствуйте, {{user.get_full_name}} </h2>
        <form id="control" method="POST" action="{% url 'register' %}" class="fixed-hour">
            {% csrf_token %}
            <input  type="hidden" name="employee_id" value={{user.id}}>
            <label for="select-status" class="post-labels">
                Выберите статус
            </label>
            <select id="select-status" name="status" form="control">
                <option value="ARRIVED">Прибытие</option>
                <option value="LEFT" selected>Убытие</option>
            </select>
            <label for="comment" class="post-labels">
                Комментарий
            </label>
            <input type="textarea" name="reason" id="comment" placeholder="Введите комментарий" maxlength=100>
            <input id="submit-check" type="Submit" placeholder="Отправить" width="50px">
        </form>
    </div>
</body>
</html>