<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>Таблица сотрудников</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href='{% static "css/workers_table/indexcss.css"%}?{% now "U" %}'>
  <body>
    <div class="links">
      <a href="{% url 'logout' %}" class="menu"> Выйти из аккаунта {{request.user}}</a>
      <a href="{% url 'homepage' %}" class="menu">Страница регистрации прибытия/убытия</a>
    </div>
    <h1>Список сотрудников предприятия</h1>
    <div id="employee">
      <span id="full-name"></span>
    </div>
    <section class="stuff-table">
      {% csrf_token %}
      <table>
        <thead>
          <tr class="table-headers">
            <th class="header">Фамилия Имя</th>
            <th class="header">Статус</th>
            <th class="header">Время</th>
            <th class="header">Замечание</th>
          </tr>
        </thead>
        <tbody>
          {%for employee in employees%}
          <tr class="{%cycle 'employee-inf' 'employee-inf1'%}">
            <td><a href="http://127.0.0.1:8000/employee?id={{employee.employee_id}}">{{employee.employee_last_name}} {{employee.employee_first_name}}</a></td>
            <td>
              <span class="{{employee.status}}">
                {%if employee.status == "LEFT"%}
                  Ушел
                {% endif %}
                {%if employee.status == "ARRIVED"%}
                  Прибыл
                {% endif %}
              </span>
            </td>
            <td><span> {{employee.time}}</span></td>
            <td>{{employee.reason}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </section>
</body>
</html>