<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Log-in</title>
        <link rel="stylesheet" type="text/css" href='{% static "css/workers_table/login.css"%}?{% now "U" %}'>
    </head>
    <body>
        <div id="header">
        </div>
        <div id="content">
                <form action="." method="post" class="login-form">
                    <h1>Войдите в аккаунт</h1>
                    <p>Пожалуйста, введите:</p>
                    {{ form.as_p }}
                    {% csrf_token %}
                    <input type="submit" value="Login" class="button">
                </form>
        </div>
    </body>
</html>